@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body,
nav,
ul,
nav,
html, button {
  margin: 0;
  padding: 0;
  color: black;
}


li {
  list-style-type: none;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  gap: 1rem;
  background-color: rgb(255, 255, 255);
}

button {
  font-weight: bold;
  color: black;
}

