*,
::before,
::after {
  box-sizing: border-box;
  /* border: solid red 0.1rem; */
}

body,
nav,
ul,
nav,
html, button {
  margin: 0;
  padding: 0;
  color: white;
}


li {
  list-style-type: none;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  gap: 2rem;
  background-color: rgb(65, 58, 58);
}


