/* 

body,
nav,
ul,
nav,
html, button {
  margin: 0;
  padding: 0;
  color: white;
} */


.li {
  list-style-type: none;
}


.menuBtn {
  background-color: rgb(66, 76, 85);
  border: none;
  color: white;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.linkMenu {
  text-decoration: none;
  color: white;
}

.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  gap: 2rem;
  background-color: rgb(65, 58, 58);
}


.nav {
  margin: 0;
  height: 5rem;
}

.navitem {
  background-color: rgba(66, 76, 85, 0.726);
  padding-inline: 0.7rem;
  border-bottom-left-radius: 5px;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.assetitem {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-around;
  border:solid rgb(158, 191, 219) 0.1rem;
  border-radius: 5px;
  flex-wrap: wrap;
  gap: 5rem;
  margin: 1rem;

  /* border-bottom: solid rgb(158, 191, 219) 0.1rem; */
}

.assets {
  display: flex;
  flex-direction: row ;
  gap: 1rem;
  padding-inline: 1rem; 
  width: 100vw;
}

.assetbuttons {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  height: 5rem;
  align-self: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.assetsColumn {
  padding: 0;
}


.btnitem {
  width: 8rem;
  height: 3rem;
}




.addbtn {
  width: 8rem;
  align-self: flex-end;
  margin-inline: 2rem;
  background-color: rgb(96, 216, 96);
  height: 3rem;
}

.addbtnContainer {
  display: flex;
  padding-block: 0.5rem;
}

.assetsdisplay {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: center;
}

.assetinfo {
  width: 30rem;
}


.deletebtn {
  background-color: rgb(235, 93, 93);
}

.editbtn {
  background-color: rgb(107, 107, 221);
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 100vw;
}

